.svg-10 {
  margin: -1rem;
  padding: 1rem;

  background-color: #f66c41;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90vw;
    height: 50vw;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
  }
}
