.svg-11 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 125px;
    min-height: 100vh;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 45px;
  }

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    h1 {
      font-weight: 500;
      font-size: 42px;
      max-width: 80%;
      line-height: 1.25;
      letter-spacing: -0.02em;
      text-transform: lowercase;
      transition: transform 0.255s ease-in, opacity 0.255s ease-in;
      transform: translateY(100px);
      opacity: 0;
    }
  }

  .hero .html {
    position: absolute;
    right: -50px;
    top: -90px;
    z-index: -1;
  }
}
