.cursor-2 {
  margin: -1rem;
  min-height: 100vh;
  cursor: none;
  outline: 5px solid tomato;

  position: relative;

  @keyframes click-animation {
    from {
      stroke-dasharray: 5px 5px;
      opacity: 1;
    }
    to {
      stroke-dasharray: 1px 5px;
      opacity: 0.1;
    }
  }

  .cursor {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: color 0.255s linear;

    .line {
      opacity: 0;
      stroke-dasharray: 1px 5px;
    }

    &--click {
      .line {
        animation: click-animation 0.255s linear;
      }
    }
  }
}
