.page-5 {
  margin: -1rem;

  * {
    box-sizing: border-box;
  }

  .parallax__assets {
    min-height: 100vh;
    position: relative;

    background-image: linear-gradient(
      225.1deg,
      #919890 28.61%,
      rgba(209, 209, 209, 0) 84.24%
    );

    overflow: hidden;
    perspective: 4000px;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .parallax__layer--clouds {
    object-fit: cover;
    object-position: center top;
  }

  .parallax__layer--text {
    object-fit: contain;
    object-position: center top;
    transform: scale(0.8);
  }

  .parallax__layer--house {
    object-fit: cover;
    object-position: center top;
  }

  .parallax__layer--bottom {
    object-fit: cover;
    transform-origin: center bottom;
  }
}
