.animation-14 {
  font-family: Arial, sans-serif;
  padding: 10px;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  p {
    font-size: 24px;
  }

  .block {
    min-height: 400px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    gap: 50px;

    transform-style: preserve-3d;
    perspective: 400px;
  }

  .line {
    width: 20px;
    height: 200px;
    transition: transform 1s ease;
    margin-right: 5%;
  }

  .line:nth-child(1) {
    background-color: red;
    transform: translateZ(-100px) scale(1.25);
  }

  .block:hover .line:nth-child(1) {
    transform: translateZ(-100px) translateY(50px) scale(1.25);
  }

  .line:nth-child(2) {
    background-color: orange;
    transform: translatez(-50px) scale(1.125);
  }

  .block:hover .line:nth-child(2) {
    transform: translateZ(-50px) translateY(50px) scale(1.125);
  }

  .line:nth-child(3) {
    background-color: gold;
    transform: translateZ(0px);
  }

  .block:hover .line:nth-child(3) {
    transform: translateZ(0px) translateY(50px) scale(1);
  }

  .line:nth-child(4) {
    background-color: green;
    transform: translateZ(50px) scale(0.875);
  }

  .block:hover .line:nth-child(4) {
    transform: translateZ(50px) translateY(50px) scale(0.875);
  }

  .line:nth-child(5) {
    background-color: blue;
    transform: translateZ(100px) scale(0.75);
  }

  .block:hover .line:nth-child(5) {
    transform: translateZ(100px) translateY(50px) scale(0.75);
  }
}
