.animation-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;

  margin: 0 0 40px;

  &__text {
    position: relative;

    &--1 {
      &::before,
      &::after {
        content: attr(data-text);
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        height: 100%;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      &::before {
        left: 2px;

        text-shadow: -2px 0 #fc4445;

        animation-name: glitch-v1-1;
        animation-duration: 2s;

        z-index: 1;
      }

      &::after {
        left: -1px;

        text-shadow: -2px 0 #6eb5c0, 2px 2px #006c84;

        animation-name: glitch-v1-2;
        animation-duration: 1.5s;

        z-index: 2;
      }
    }

    &--2 {
      &::before,
      &::after {
        content: attr(data-text);
        position: absolute;
        top: -3px;
        width: 100%;
        height: 100%;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      &::before {
        left: 2px;

        text-shadow: -2px 0 #fc4445;
        animation-name: glitch-v2-1;
        animation-duration: 1.5s;

        z-index: 1;
        transform: skew(1deg, 1deg);
      }

      &::after {
        left: -1px;

        z-index: 2;

        text-shadow: -2px 0 #6eb5c0, 2px 2px #aebd38;
        transform: skew(-1deg, -1deg);

        animation-name: glitch-v2-2;
        animation-duration: 2s;
      }
    }
  }
}

@keyframes glitch-v1-1 {
  0% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    transform: skew(-1deg, -1deg);
  }

  10% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  20% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
  }

  30% {
    clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%);
    transform: skew(1deg, 1deg);
  }

  40% {
    clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: skew(-1deg, -2deg);
  }

  60% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  70% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  80% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: skew(1deg, 1deg);
  }

  90% {
    clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: skew(-1deg, -2deg);
  }
}

@keyframes glitch-v1-2 {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: skew(2deg, 2deg);
  }

  10% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  20% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: skew(1deg, -2deg);
  }

  30% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
  }

  40% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  50% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    transform: skew(-2deg, 1deg);
  }

  60% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    text-shadow: -5px 0 #6eb5c0, 5px 5px #006c84;
  }

  70% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  80% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: skew(1deg, 1deg);
  }

  90% {
    clip-path: polygon(0 10%, 100% 70%, 100% 20%, 0 20%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: skew(2deg, 2deg);
  }
}

@keyframes glitch-v2-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0;
    text-decoration: line-through;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
    font-style: italic;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glitch-v2-2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 0;
    letter-spacing: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
    letter-spacing: -0.3px;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
    letter-spacing: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
