.button-4 {
  .btn {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;

    min-width: 130px;
    min-height: 40px;
    margin-bottom: 20px;

    display: inline-block;
    border: none;
    padding: 0 20px;
    background-color: transparent;

    position: relative;
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--1 {
      color: #435a6b;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        height: 100%;
        opacity: 0;

        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      &::before {
        content: "[";
        left: 14px;
        transform: translateX(0);
      }

      &::after {
        content: "]";
        right: 14px;
        transform: translateX(0);
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          opacity: 1;
        }

        &::before {
          transform: translateX(-14px);
        }

        &::after {
          transform: translateX(14px);
        }
      }
    }

    &--2 {
      color: #f19f0f;
    }

    &--3 {
      color: #cd4436;
    }

    &--4 {
      color: #435a6b;
    }

    &--5 {
      color: #0e83cd;
    }
  }
}
