.button-11 {
  --transition: 0.255s ease-in-out;
  --black: #111111;

  button {
    padding: 0;
    background: none;
    border: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }

  .dropdown__content {
    opacity: 0;
    pointer-events: none;
    width: 100%;

    transition: opacity var(--transition), transform var(--transition);
    transform: translateY(20px);
  }

  .dropdown.active .dropdown__content {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .dropdown__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    border-radius: 8px;
    border: 2px solid var(--black);
    transition: color var(--transition);
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
  }

  .dropdown__button:hover {
    color: rgba(0, 0, 0, 0.65);
  }

  .dropdown__button span {
    color: inherit;
  }

  .dropdown__chevron path {
    color: #111111;
  }

  .dropdown__content button {
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
  }

  .dropdown__content-item:hover {
    background-color: #f0e1fb;
  }

  .dropdown__content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .dropdown__content-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background-color var(--transition);
  }

  .dropdown__content-item::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f0e1fb;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Шеврон */

  .dropdown__chevron path {
    transition: d var(--transition);
  }

  .dropdown.active .dropdown__chevron path {
    d: path("M1.5 10.5 L7.5 4.5L13.5 10.5");
  }
}
