.button-9 {
  $gold: #deb887;

  * {
    box-sizing: border-box;
  }

  .wrapper {
    display: grid;
    place-items: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

  @keyframes button-hover {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .button {
    padding: 0 15px;
    width: 277px;
    height: 55px;
    overflow: hidden;
    border: 0;
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.125em;
    cursor: pointer;

    position: relative;

    transition: color ease 0.3s;

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      rect {
        width: 100%;
        height: 100%;
        stroke: $gold;
        stroke-width: 6px;
        stroke-dasharray: 120 500;
        stroke-dashoffset: -411;
        stroke-linecap: round;

        outline: 5px solid green;

        transition-property: stroke-dashoffset, stroke-dasharray;
        transition-timing-function: linear, linear;
        transition-duration: 0.5s;
      }
    }

    &:hover {
      color: $gold;

      svg rect {
        transition-timing-function: linear, cubic-bezier(0, 0, 0.51, 1);
        stroke-dasharray: 800;
        stroke-dashoffset: 0;
      }
    }
  }

  .button-9--example {
    position: relative;
    padding: 0 15px;
    min-width: 255px;
    height: 55px;
    border: 0;
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.125em;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .button-shape {
    width: 100%;
    height: 100%;
    fill: #0000;
    stroke-dasharray: 120 500;
    stroke-dashoffset: -404;
    stroke-width: 6px;
    stroke: #deb887;
    stroke-linecap: round;
  }

  @keyframes stroke {
    0% {
      stroke-dasharray: 120 500;
      stroke-dashoffset: -404;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
    }
  }

  .button-9--example:hover {
    color: #deb887;
  }

  .button-9--example:hover .button-shape {
    animation: 0.5s stroke linear forwards alternate;
  }
}
