.line {
  border-color: #ffffff;
  border-style: solid;
}

.button-1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  position: relative;
  z-index: 1;

  margin: 20px;
  padding: 10px;
  width: 200px;
  min-height: 38px;

  background-color: #111111;
  border: none;
  box-shadow: 0 0 0 1px #006c84;
  cursor: pointer;
}

.button-1::before,
.button-1::after {
  position: absolute;
  content: "";
  z-index: -1;

  background-color: #006c84;
  will-change: clip-path, transform;
}

/* Через clip-path */
/* Первая кнопка */

.button--1::before {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.3s ease;
}

.button--1:hover::before,
.button--1:focus::before {
  clip-path: inset(0 0 0 0);
}

/* Вторая кнопка */

.button--2::before {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  clip-path: inset(50% 0 50% 0);
  transition: clip-path 0.3s ease;
}

.button--2:hover::before,
.button--2:focus::before {
  clip-path: inset(0 0 0 0);
}

/* Третья кнопка */

.button--3::before,
.button--3::after {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: clip-path 0.3s ease;
}

.button--3::before {
  clip-path: inset(0 100% 0 0);
}

.button--3::after {
  clip-path: inset(0 0 0 100%);
}

.button--3:hover::before,
.button--3:focus::before {
  clip-path: inset(0 50% 0 0);
}

.button--3:hover::after,
.button--3:focus::after {
  clip-path: inset(0 0 0 50%);
}

/* Четвертая кнопка */

.button--4 {
  box-shadow: none;
}

.button--4::before,
.button--4::after {
  position: absolute;
  content: "";
  z-index: -1;
  box-sizing: border-box;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.button--4::before {
  background-color: #111111;
  border-left: 1px solid #006c84;
  border-right: 1px solid #006c84;
  clip-path: inset(100% 0 0 0);

  transition: clip-path 0.3s ease 0.3s;
}

.button--4:hover::before,
.button--4:focus::before {
  clip-path: inset(0 0 0 0);

  transition: clip-path 0.3s ease;
}

.button--4::after {
  background-color: #006c84;
  clip-path: inset(0 0 100% 0);

  transition: clip-path 0.3s ease;
}

.button--4:hover::after,
.button--4:focus::after {
  clip-path: inset(0 0 0 0);

  transition: clip-path 0.3s ease 0.3s;
}

/* Через transform */
/* Пятая кнопка */

.button--5::before {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.3s ease;
}

.button--5:hover::before,
.button--5:focus::before {
  transform: scaleX(1);
}

.button--6::before {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: scaleY(0);
  transition: transform 0.3s ease;
}

.button--6:hover::before,
.button--6:focus::before {
  transform: scaleY(1);
}

/* Седьмая кнопка */

.button--7::before,
.button--7::after {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.button--7::before {
  transform-origin: left;
}

.button--7::after {
  transform-origin: right;
  transform: scaleX(0);
}

.button--7:hover::before,
.button--7:focus::before,
.button--7:hover::after,
.button--7:focus::after {
  transform: scaleX(0.5);
}

/* Восьмая кнопка */

.button--8 {
  box-shadow: none;
}

.button--8::before,
.button--8::after {
  box-sizing: border-box;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: scaleY(0);
}

.button--8::before {
  background-color: transparent;
  border-left: 1px solid #006c84;
  border-right: 1px solid #006c84;

  transform-origin: bottom;
  transition: transform 0.3s ease 0.3s;
}

.button--8:hover::before,
.button--8:focus::before {
  transform: scaleY(1);
  transition: transform 0.3s ease;
}

.button--8::after {
  background-color: #006c84;

  transform-origin: top;
  transition: transform 0.3s ease;
}

.button--8:hover::after,
.button--8:focus::after {
  transform: scaleY(1);
  transition: transform 0.3s ease 0.3s;
}
